.profile-container {
  min-height: 100vh;
  background: #f8fafc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-card {
  width: 550px;
  background: white;
  padding: 40px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,.08);
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid #22c55e;
  margin-bottom: 20px;
}

.profile-details {
  margin-top: 30px;
  text-align: left;
}

.profile-details div {
  margin-bottom: 15px;
}

.edit-btn {
  width: 100%;
  margin-top: 20px;
  padding: 12px;
  border: none;
  background: #22c55e;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}