<nav class="navbar">
  <div class="logo">Quick<span>Serve</span></div>

  <ul class="nav-links">
    <li>
      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Home
      </a>
    </li>

    <li>
      <a routerLink="/services" routerLinkActive="active"> Services </a>
    </li>

    <li>
      <a routerLink="/provider-register" routerLinkActive="active">
        Become Provider
      </a>
    </li>

    <!-- Not Logged In -->
    <ng-container *ngIf="!user">
      <li>
        <a routerLink="/login">Login</a>
      </li>

      <li>
        <a routerLink="/signup" class="signup-btn"> Sign Up </a>
      </li>
    </ng-container>

    <!-- Logged In -->
    <ng-container *ngIf="user">
      <li class="profile-menu">
        <div class="profile-icon" (click)="toggleMenu()">👤</div>

        <div class="dropdown" *ngIf="showMenu">
          <p>{{ user.fullName }}</p>

          <a routerLink="/profile"> View Profile </a>

          <a *ngIf="user.role === 'costumer'" routerLink="/dashboard">
            Dashboard
          </a>

          <a *ngIf="user.role === 'provider'" routerLink="/provider-dashboard">
            Dashboard
          </a>

          <button (click)="logout()">Logout</button>
        </div>
      </li>
    </ng-container>
  </ul>
</nav>
