<div class="approval-container">
  <div class="page-header">
    <h1>Provider Approval Requests</h1>
    <p>Review provider details before approval</p>
  </div>

  @for (provider of providers; track provider.id) {

  <div class="provider-card">
    <div class="provider-info">
      <h2>{{ provider.user.fullName }}</h2>

      <p><strong>Skill:</strong> {{ provider.skills }}</p>

      <p><strong>Experience:</strong> {{ provider.experience }} Years</p>

      <p><strong>Email:</strong> {{ provider.user.userEmail }}</p>

      <p><strong>Phone:</strong> {{ provider.user.userPhone }}</p>

      <p><strong>Status:</strong> {{ provider.status }}</p>
    </div>

    <div class="actions">
      <button class="view-btn" (click)="viewProvider(provider)">
        View Details
      </button>

      @if (provider.status === 'pending') {

      <button class="approve-btn" (click)="approveProvider(provider.id)">
        Approve
      </button>

      <button class="reject-btn" (click)="rejectProvider(provider.id)">
        Reject
      </button>

      }
    </div>
  </div>

  }
</div>
