<section class="services-page">
  <div class="services-header">
    <h1>Find Trusted Service Providers</h1>
    <p>Browse verified professionals and book services instantly.</p>

    <div class="search-filter">
      <input
        type="text"
        placeholder="Search providers..."
        [(ngModel)]="searchText"
      />

      <select [(ngModel)]="selectedCategory">
        <option value="">All Categories</option>
        <option>Electrician</option>
        <option>Plumber</option>
        <option>Cleaner</option>
        <option>Carpenter</option>
        <option>Painter</option>
        <option>Tutor</option>
      </select>
    </div>
  </div>

  <div class="providers-grid">
    @if (paginatedProviders.length > 0) { @for (provider of paginatedProviders;
    track provider.id) {
    <div class="provider-card">
      <div class="provider-top">
        <div class="provider-avatar">
          {{ provider.user.fullName.charAt(0).toUpperCase() }}
        </div>

        <div class="provider-info">
          <h3>{{ provider.user.fullName }}</h3>
          <span>{{ provider.skills }}</span>
        </div>
      </div>

      <div class="rating">
        ⭐ {{ provider.rating || 0 }} ({{ provider.review || 0 }} Reviews)
      </div>

      <p class="experience">
        Experience: {{ provider.experience > 0 ? provider.experience : 0 }}
        Years
      </p>

      <p class="description">{{ provider.description }}</p>

      <div class="status">
        Status:
        <span>{{ provider.status }}</span>
      </div>

      <div class="provider-footer">
        <button class="booking-btn" (click)="bookNow(provider)">
          Book Now
        </button>

        <a [routerLink]="['/provider', provider.id]" class="profile-btn">
          View Profile
        </a>
      </div>
    </div>
    } } @else {

    <div class="no-providers">
      <h3>No providers found</h3>
      <p>Try adjusting your search or category filter.</p>
    </div>

    }
  </div>

  <div class="pagination">
    <button
      class="page-btn"
      [disabled]="currentPage === 1"
      (click)="changePage(currentPage - 1)"
    >
      Prev
    </button>

    @for (page of totalPages; track page) {

    <button
      class="page-btn"
      [class.active]="currentPage === page"
      (click)="changePage(page)"
    >
      {{ page }}
    </button>

    }

    <button
      class="page-btn"
      [disabled]="currentPage === totalPages.length"
      (click)="changePage(currentPage + 1)"
    >
      Next
    </button>
  </div>
</section>
