.services-page {
  padding: 50px 8% 80px;
  background: #f8fafc;
  min-height: 100vh;
}

.services-header {
  text-align: center;
  margin-bottom: 50px;
}

.services-header h1 {
  font-size: 3rem;
  color: #111827;
}

.services-header p {
  color: #6b7280;
  margin-top: 10px;
}

.search-filter {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 30px;
  flex-wrap: wrap;
}

.search-filter input,
.search-filter select {
  padding: 14px;
  border: 1px solid #d1d5db;
  border-radius: 10px;
  min-width: 250px;
}

.providers-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 25px;
}

.provider-card {
  background: white;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
}

.provider-top {
  display: flex;
  gap: 15px;
  align-items: center;
}

.provider-avatar {
  width: 70px;
  height: 70px;
  background: #dcfce7;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.provider-top span {
  color: #22c55e;
  font-weight: 600;
}

.rating {
  margin: 15px 0;
}

.provider-footer {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.contact-btn,
.profile-btn {
  flex: 1;
  padding: 12px;
  border-radius: 10px;
  text-decoration: none;
  text-align: center;
  background: white;
  border: 1px solid #22c55e;
  color: #22c55e;
  font-weight: 600;
}

.contact-btn {
  background: #22c55e;
  color: white;
  border: none;
}

.profile-btn {
  background: white;
  border: 1px solid #22c55e;
  color: #22c55e;
}

/* ------------------------------------- */
.pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 40px;
}

.pagination button {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background: #f5f5f5;
}

.pagination .active {
  background: #2e7d32;
  color: white;
}
