.services-page {
  min-height: 100vh;
  padding: 40px;
  background: linear-gradient(to bottom, #f7fafc, #edf7f0);
}

.services-header {
  text-align: center;
  margin-bottom: 40px;
}

.services-header h1 {
  font-size: 38px;
  margin-bottom: 10px;
  color: #222;
}

.services-header p {
  color: #666;
  font-size: 16px;
}

.search-filter {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 25px;
  flex-wrap: wrap;
}

.search-filter input,
.search-filter select {
  width: 280px;
  height: 50px;
  padding: 0 15px;
  border-radius: 12px;
  border: 1px solid #dce3ea;
  outline: none;
  font-size: 15px;
}

.providers-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 30px;
}

.provider-card {
  background: white;
  border-radius: 20px;
  padding: 25px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
  transition: 0.3s;
}

.provider-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.12);
}

.provider-top {
  display: flex;
  align-items: center;
  gap: 15px;
}

.provider-avatar {
  width: 65px;
  height: 65px;
  background: #dcfce7;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
}

.provider-top h3 {
  margin: 0;
}

.provider-top span {
  color: #16a34a;
  font-weight: 600;
}

.rating {
  margin-top: 20px;
  font-weight: 500;
}

.experience {
  margin-top: 12px;
}

.provider-footer {
  margin-top: 25px;
  display: flex;
  gap: 12px;
}

.contact-btn {
  flex: 1;
  border: none;
  background: #16a34a;
  color: white;
  padding: 12px;
  border-radius: 10px;
  cursor: pointer;
}

.profile-btn {
  flex: 1;
  text-align: center;
  text-decoration: none;
  border: 1px solid #16a34a;
  color: #16a34a;
  padding: 12px;
  border-radius: 10px;
}
.booking-btn {
  flex: 1;
  text-align: center;
  text-decoration: none;
  background: #16a34a;
  color: white;
  padding: 12px;
  border-radius: 10px;
  transition: 0.3s;
}

.booking-btn:hover {
  background: #15803d;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 30px;
}

.page-btn {
  padding: 10px 15px;
  border-radius: 8px;
  background: #f1f5f9;
  cursor: pointer;
  transition: 0.3s;
  border: none;
}

.page-btn:hover {
  background: #16a34a;
  color: white;
}

.page-btn.active {
  background: #16a34a;
  color: white;
}

.page-btn:disabled {
  background: #ddd;
  cursor: not-allowed;
  color: #888;
}

@media (max-width: 992px) {
  .providers-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .providers-grid {
    grid-template-columns: 1fr;
  }

  .search-filter {
    flex-direction: column;
    align-items: center;
  }
}
