.admin-layout {
  display: flex;

  min-height: 100vh;

  background: #f6fffb;
}

.main-wrapper {
  /* margin-left: 290px; */

  width: calc(100% - 290px);

  display: flex;

  flex-direction: column;
}

.main-content {
  padding: 30px;

  flex: 1;

  overflow-y: auto;
}

@media (max-width: 991px) {
  .main-wrapper {
    margin-left: 90px;

    width: calc(100% - 90px);
  }
}
